<!--
author: Boostraptheme
author URL: https://boostraptheme.com
License: Creative Commons Attribution 4.0 Unported
License URL: https://creativecommons.org/licenses/by/4.0/
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>E-Biz</title>
    <link rel="shortcut icon" href="@Url.Content("~/img/faviconn.ico")">
    <!-- Global Stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i" rel="stylesheet">
    <link href="@Url.Content("~/css/bootstrap/bootstrap.min.css")" rel="stylesheet">
    <link rel="stylesheet" href="@Url.Content("~/font-awesome-4.7.0/css/font-awesome.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/css/animate/animate.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/css/owl-carousel/owl.carousel.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/css/owl-carousel/owl.theme.default.min.css")">
    <link rel="stylesheet" href="@Url.Content("~/css/style.css")">
</head>
<body id="page-top">

        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light" id="mainNav" data-toggle="affix">
            <div class="container">
                <a class="navbar-brand smooth-scroll" href="#">
                    <img src="@Url.Content("~/img/eblogo.png")" alt = "logo">
                </a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item"><a class="nav-link smooth-scroll" href="#">Home</a></li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle smooth-scroll" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About</a>
                            <div class="dropdown-menu dropdown-cust" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="#">About Us</a>
                                <a class="dropdown-item" href="#">Career Oprtunity</a>
                                <a class="dropdown-item" href="#">Meet Our Team</a>
                                <a class="dropdown-item" href="#">FAQ</a>
                                <a class="dropdown-item" href="#">Testimonials</a>
                            </div>
                        </li>
                     
                        <li class="nav-item"><a class="nav-link smooth-scroll" href="@Url.Action("login","Login")">Login</a></li>
                        
                      
                       
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    

    <div>
        @RenderBody()
    </div>
    


    <!--====================================================
                          FOOTER
    ======================================================-->
    <footer>
        <div id="footer-s1" class="footer-s1">
            <div class="footer">
                <div class="container">
                    <div class="row">
                        <!-- About Us -->
                        <div class="col-md-3 col-sm-6 ">
                            <div><img src="@Url.Content("~/img/eblogo.png")" alt="" class="img-fluid"></div>
                            <ul class="list-unstyled comp-desc-f">
                                <li><p>The mission of E-Biz is to help members increase their business through a structured, positive and professional referral marketing program that enables them to develop long-term, meaningful relationships with quality business professionals. </p></li>
                            </ul><br>
                        </div>
                        <!-- End About Us -->
                        <!-- Recent News -->
                        <div class="col-md-3 col-sm-6 ">
                            <div class="heading-footer"><h2>Useful Links</h2></div>
                            <ul class="list-unstyled link-list">
                                <li><a href="#">About us</a><i class="fa fa-angle-right"></i></li>
                                <li><a href="#">Project</a><i class="fa fa-angle-right"></i></li>
                                <li><a href="#">Career</a><i class="fa fa-angle-right"></i></li>
                                <li><a href="#">FAQ</a><i class="fa fa-angle-right"></i></li>
                                <li><a href="#">Contact us</a><i class="fa fa-angle-right"></i></li>
                            </ul>
                        </div>
                        <!-- End Recent list -->
               
                        <!-- Latest Tweets -->
                        <div class="col-md-3 col-sm-6">
                            <div class="heading-footer"><h2>Get In Touch</h2></div>
                            <address class="address-details-f">
                                401, Siddharth Flats, <br>
                                Krupal Society, Spandan Circle<br>
                                Manjalpur, Vadodara <br>
                                Gujarat, India<br>
                                Phone: +91 8866569978<br>
                                Fax: 800 123 3456 <br>
                                Email: <a href="mailto:info@ebiz.com" class="">info@ebiz.com</a>
                            </address>
                            <ul class="list-inline social-icon-f top-data">
                                <li><a href="#" target="_empty"><i class="fa top-social fa-facebook"></i></a></li>
                                <li><a href="#" target="_empty"><i class="fa top-social fa-twitter"></i></a></li>
                                <li><a href="#" target="_empty"><i class="fa top-social fa-google-plus"></i></a></li>
                            </ul>
                        </div>
                        <!-- End Latest Tweets -->
                    </div>
                </div><!--/container -->
            </div>
        </div>
        <div id="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div id="footer-copyrights">
                            <p>Copyrights &copy; 2018 All Rights Reserved by E-Biz. <a href="#">Privacy Policy</a> <a href="#">Terms of Services</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="#home" id="back-to-top" class="btn btn-sm btn-green btn-back-to-top smooth-scrolls hidden-sm hidden-xs" title="home" role="button">
            <i class="fa fa-angle-up"></i>
        </a>
    </footer>
    <!--Global JavaScript -->
    <script src="@Url.Content("~/js/jquery/jquery.min.js")"></script>
    <script src="@Url.Content("~/js/popper/popper.min.js")"></script>
    <script src="@Url.Content("~/scripts/jquery.validate.js")"></script>
    <script src="@Url.Content("~/js/bootstrap/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/js/wow/wow.min.js")"></script>
    <script src="@Url.Content("~/js/owl-carousel/owl.carousel.min.js")"></script>
    <!-- Plugin JavaScript -->
    <script src="@Url.Content("~/js/jquery-easing/jquery.easing.min.js")"></script>
    <script src="@Url.Content("~/js/custom.js")"></script>
    <script src="@Url.Content("~/js/jquery.dataTables.min.js")"></script>
    @RenderSection("reg", false)
</body>
</html>
